<script src="~/js/Default.js"></script>
@{
    ViewBag.Title = "Legacy Cycles";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div id="homepage" class="">
    <h2> @ViewBag.ErrMsg   </h2>
</div>