@model AdventureWorks.Models.SiteLayoutModel
<script src="@Url.Content("~/js/FooterLayout.js")"></script>    
<div id="ft">
	<div class="footerinner">
        <div id="PnlExpFooter">
            <div id="Header">SiteMap</div>
            <div>
                @Html.Raw(Model.SiteMapHTML)
            </div>
        </div>
	</div>
</div>
